<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="page-controller">

    <div class="sidebar">
        <a href="/homePage" id="homePage">Home Page (ESC)</a>
        <a href="/addParty" id="navAddParty">Add Party (Alt+1)</a>
        <a href="/viewParty" id="navViewParty">View Party (Alt+2)</a>
        <a href="/addProduct" id="navAddProduct">Add Product (Alt+3)</a>
        <a href="/viewProducts" id="navViewProducts">View Products (Alt+4)</a>
        <a href="/invoice" id="navInvoice">Create Invoice (Alt+5)</a>
        <a href="/invoiceList" id="navInvoiceList">View Invoices (Alt+6)</a>
        <a href="/partyLedger" id="navPartyLedger">View Ledger (Alt+7)</a>
        <a href="/payment" id="navPayment">$ Payment (Alt+8)</a>
    </div>

    <div class="main-content">
<h2>Product List</h2>
<!--<div class="search-container">-->
<!--    <input type="text" id="searchInput" placeholder="Search by name or description..." oninput="searchProducts()">-->
<!--</div>-->
        <section class="controls-section">
            <div class="flex-group">
<input  class="search" type="text" id="searchInput" placeholder="Search product...(Alt+S)" />
            </div>
        </section>
                <section class="viewtable">
    <div class="scrollable-table">
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="productList"></tbody>
</table>
    </div>
</section>

<div id="updateFormContainer"></div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/product.js}"></script>
</body>
</html>